Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
bcrypt==4.1.3
cryptography==42.0.8
gunicorn
psycopg2-binary
# Uncomment if you switch DATABASE_URL to MySQL:
# PyMySQL==1.1.1
